<header data-vm="Header" data-bind="attr: {class: fixed() ? 'fixed' : ''}">
    <section class="content">
        <a href="{{ route('home') }}" class="home"></a>
        <nav>
            {#
            <a href="#">Ссылка</a>
            <a href="#">Ссылка</a>
            <a href="#">Ссылка</a>
            <a href="#">Ссылка</a>
            <a href="#">Ссылка</a>
            <a href="#">Ссылка</a>
            #}
            // тут будет менюшка
        </nav>
    </section>
</header>