<header data-vm="Header" data-bind="attr: {class: fixed() ? 'fixed' : ''}">
    <nav>
        {#
        <a href="#">Ссылка</a>
        <a href="#">Ссылка</a>
        <a href="#">Ссылка</a>
        <a href="#">Ссылка</a>
        <a href="#">Ссылка</a>
        <a href="#">Ссылка</a>
        #}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// тут будет менюшка
    </nav>
</header>