<section class="parallax" data-bind="
    attr: { style: 'height: ' + height() + 'px; margin-top: -' + hidden() + 'px' },
    css: { visible: visible }
" data-vm="Parallax">

    <canvas data-id="ribbon"></canvas>

    <section class="description">
        <h1>SerafimArts</h1>
        <h2>Nesmeyanov Kirill's Personal Blog</h2>
    </section>

    <video data-id="video" muted="muted" preload="auto" loop="loop" autoplay="autoplay" style="visibility: hidden">
        <source src="/img/parallax/bg.mp4" type="video/mp4" />
        <source src="/img/parallax/bg.webm" type="video/webm" />
    </video>

    <div data-id="scrollTo" class="scroll-to"></div>
</section>