<section class="parallax" data-vm="Parallax">
    <nav class="controls">
        <a href="#" class="button"
            data-bind="click: setLowQuality, attr: {
                class: 'button ' + (quality() == lowQuality ? 'active' : '')
            }">Low</a>
        <a href="#" class="button"
           data-bind="click: setHighQuality, attr: {
                class: 'button ' + (quality() == highQuality ? 'active' : '')
            }">High</a>
    </nav>
</section>