<section class="parallax" data-vm="Parallax">
    <article class="parallax-section">
        <h1 data-depth=".2" data-bind="text: text"></h1>

        <div class="lines" data-depth=".5" data-bind="foreach: lines">
            <div class="line"></div>
        </div>
    </article>

    <img src="/img/parallax/photo.png" data-depth=".7" alt="Me" />
</section>