<article class="billet billet-3">
    <div class="billet-content">
        <iframe class="billet-image"
                src="https://www.youtube.com/embed/{{ src }}?color=white&enablejsapi=1&iv_load_policy=3&rel=0&showinfo=0"
                frameborder="0" allowfullscreen></iframe>

        <div class="billet-description">
            <p>{{ description }}</p>

            <a href="https://www.youtube.com/watch?v={{ src }}" target="_blank" class="button">
                {{ link | default('В оригинале') }}
            </a>
        </div>
    </div>
</article>