<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>SerafimArts{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700,400italic,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/app.css"/>
    <script src="/assets/app.js"></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
    {% block header %}
        {% include "partials/header.twig" %}
    {% endblock %}


    {% block content %}
        <!-- Content -->
    {% endblock %}


    {% block footer %}
        {% include "partials/footer.twig" %}
    {% endblock %}

    <script>new (require('Application').default)</script>
</body>
</html>