<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>SerafimArts</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic"
          rel="stylesheet"/>

    <link rel="stylesheet" href="/assets/app.css"/>
    <script src="/assets/app.js"></script>
</head>
<body>
    {% block header %}
        {% include "partials/header.twig" %}
    {% endblock %}


    {% block content %}
        <!-- Content -->
    {% endblock %}


    {% block footer %}
        {% include "partials/footer.twig" %}
    {% endblock %}

    <script>new (require('Application').default)</script>
</body>
</html>