{% spaceless %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>SerafimArts{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=1100, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="description" content="{% block keywords %}SerafimArts, сайты, дизайн, иллюстрации, программирование, php, javascript, es6, es7, coffeescript, laravel, symfony{% endblock %}" />
    <meta name="keywords" content="{% block description %}SerafimArts сайты, дизайн и иллюстрации. Кусочек вдохновения для ваших работ.{% endblock %}" />
    <link rel="stylesheet" href="{{ asset_ts('app.css') }}"/>
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
    {% block header %}
        {% include "partials/header.twig" %}
    {% endblock %}


    {% block content %}
        <!-- Content -->
    {% endblock %}


    {% block footer %}
        {% include "partials/footer.twig" %}
    {% endblock %}

    <script src="{{ asset_ts('app.js') }}"></script>
    <script>new (require('Application').default)</script>
</body>
</html>
{% endspaceless %}
