<section class="row">
    <article class="col-md-6 col-sm-6 col-xs-12">
        {% include "admin/partial/panel.twig" with {
            icon:  'fa fa-users',
            title: 'Уникальных заходов за месяц',
            value: unique.month.count(),
            description: 'За последние 24 часа: ' ~ unique.day.count()
        } %}
    </article>

    <article class="col-md-6 col-sm-6 col-xs-12">
        {% include "admin/partial/panel.twig" with {
            icon:  'fa fa-users',
            title: 'Посещений в месяц',
            value: visits.month.count(),
            description: 'За последние 24 часа: ' ~ visits.day.count(),
            color: 'red'
        } %}
    </article>
</section>

<section class="row">
    <article class="col-lg-6 col-sm-12">
        {% include "admin/partial/stats.twig" with {
            icon: 'fa fa-inbox',
            title: 'Статистика посещений за месяц',
            data: stats.month
        } %}
    </article>

    <article class="col-lg-6 col-sm-12">
        {% include "admin/partial/stats.twig" with {
            icon: 'fa fa-inbox',
            title: 'Статистика посещений за 24 часа',
            data: stats.day
        } %}
    </article>
</section>
