.button {
  @include ui-size;
  @include ui-dark;
  border-radius: 2px;
  padding: 0 15px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  border: none;
  outline: none;
  font-weight: normal;

  &:hover {
    @include ui-dark(hover);
  }

  &:active {
    @include ui-dark(focus);
  }

  &-main {
    @include ui-main;

    &:hover {
      @include ui-main(hover);
    }

    &:active {
      @include ui-main(focus);
    }
  }
}

.button-group {
  display: inline-block;
  @include clear;

  .button {
    display: block;
    border-radius: 0;
    float: left;

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}