$ui-content-padding-h: 25px;
$ui-content-padding-v: 10px;

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 7;
  box-sizing: border-box;
  padding: $ui-content-padding-v $ui-content-padding-h;
  padding-left: $ui-aside-size + $ui-content-padding-h;
  padding-top: $ui-header-size + $ui-content-padding-v;

  h2 {
    font-size: 24px;
    margin: 5px 0 20px 0;
  }

  table {
    width: 100%;
    box-shadow: 0 0 0 1px #b4bac6;
    border-radius: 2px;

    td {
      padding: 15px 10px;
    }

    tfoot,
    thead {
      td {
        background: rgba(#000, .05);
        color: #5a6779;
        font-weight: bold;
        padding: 10px 10px;
        border-right: #b4bac6 1px solid;
        border-bottom: #b4bac6 1px solid;

        &:last-child {
          border-right: none;
        }
      }

      .controls {
        border-bottom: #b4bac6 1px solid;
      }
    }

    tbody {
      tr {
        td {
          border-bottom: rgba(#b4bac6, .2) 1px solid;

          &.controls {
            width: 82px;
          }
        }

        &:nth-child(2n) td {
          background: rgba(#fff, .5);
        }

        &:last-child td {
          border-bottom: none;
        }
      }
    }

    tfoot {
      td {
        font-weight: normal;
        @include clear;
        border-bottom: none;
        border-top: #b4bac6 1px solid;

        .items-count {
          float: right;
        }
      }
    }

    figure {
      background: #fff;
      border-radius: 3px;
      display: block;
      margin: -10px 0;
      box-shadow: 0 0 0 1px #e74c3c;
      img {
        width: inherit;
        height: inherit;
        display: block;
        border-radius: 3px;
      }
    }

    .label {
      @include ui-size;
      padding: 0 10px;
      display: block;
      float: left;
    }
  }
}