@charset "utf-8";

@import "vendor/normalize";
@import "vendor/mixins";
$width: 1100px;

@keyframes dot {
  0%,
  100% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

html,
body {
  font-family: "Open Sans", Helvetica, Tahoma, sans-serif;
  color: #71808a;
  font-size: 16px;

  a {
    color: #f00;
  }

  input,
  .button {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #f00;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #f00;
    background: none;

    &:focus,
    &:active,
    &:hover {
      color: #270000;
      box-shadow: 0 0 0 1px #270000
    }
  }

  input {
    width: 200px;
    text-align: left;
    border: none;
    outline: none;

    @include placeholder {
      color: #f7f6fa;
      font-size: 14px;
    }
  }

  .form-item {
    margin: 8px 0;
  }

  h1, h2 {
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
}

@import "ui/header";
@import "ui/footer";
@import "ui/parallax";
@import "ui/section";
@import "ui/billets";
@import "ui/about-me";


.article {
  padding: 100px 0;

  h2 {
    font-size: 64px;
  }

  .article-content {
    font-size: 16px;
    line-height: 26px;

    & > p:first-child:first-letter {
      font-size: 52px;
      font-weight: 700;
      display: block;
      float: left;
      line-height: 44px;
      color: #f00;
    }
  }
}

