.about-me {
  padding: 150px 0;
  background: #fff url(/img/parallax/triangles-white.png) fixed;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(#fff, 1), rgba(#fff, 0));
  }

  &:after {
    top: auto;
    bottom: 0;
    background: linear-gradient(to top, rgba(#fff, 1), rgba(#fff, 0));
  }

  .content {
    padding: 0 10px;

    h2 {
      display: block;
      width: 100%;
      @include clear;
    }

    h3 {
      margin: 13px 0 4px 0;
    }

    figure {
      display: block;
      margin: 20px 50px 20px 0;
      float: left;

      video {
        margin: 0;
        display: block;
        border-radius: 4px;
        background: #141414;
        width: 400px;
        height: 224px;
      }
    }
  }
}