.about-me {
  padding: 150px 0;
  background: #fff;

  .content {
    padding: 0 10px;

    h2 {
      display: block;
      width: 100%;
      @include clear;
    }

    h3 {
      margin: 13px 0 4px 0;
    }

    figure {
      display: block;
      margin: 20px 50px 20px 0;
      float: left;

      video {
        margin: 0;
        display: block;
        border-radius: 4px;
        background: #141414;
        width: 400px;
        height: 224px;
      }
    }
  }
}