@mixin line {
  content: '';
  box-shadow: 1px 0 0 #43372f;
  width: 1px;
  margin: 0 auto;
  display: block;
  position: relative;
  transform: rotate(45deg);
}

@keyframes lines {
  0% {
    opacity: 0;
    -webkit-filter: blur(3px);
    transform: translateX(0) translateY(0);
  }
  50% {
    -webkit-filter: blur(0);
    opacity: .7;
  }
  100% {
    opacity: 0;
    -webkit-filter: blur(3px);
    transform: translateX(300px) translateY(-300px);
  }
}

.article {
  padding: 100px 0;
  position: relative;

  .lines {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 100px;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;

    .line {
      z-index: 1;
      position: absolute;
      bottom: -50px;
      opacity: 0;
      &:after {
        @include line;
      }
    }


    @for $i from 1 through 20 {
      .line:nth-child(#{$i}) {
        &:after { height: random(100) + 50px; }
        left: random(800) + px;
        animation: lines (1s + .5s * $i) linear infinite;
        animation-delay: (200ms * $i);
      }
    }
  }

  h1 {
    font-family: "Lora", serif;
    font-size: 120px;
    width: 600px;
    margin: 10px auto 60px auto;
    display: block;
    z-index: 2;
    position: relative;
    text-align: center;
  }

  time {
    font-size: 24px;
    width: 120px;
    margin: -30px auto 40px auto;
    text-align: center;
    display: block;
    font-weight: 300;
    z-index: 2;
    position: relative;

    &:after {
      @include line;
      height: 40px;
      top: 14px;
    }
  }

  .article-content {
    font-size: 16px;
    line-height: 26px;
    padding-right: 350px;

    h1, h2 {
      font-family: "Lora", serif;
    }

    h2 {
      font-size: 32px;
    }

    code {
      background: rgba(#100, .1);
      border-radius: 2px;
      display: inline-block;
      padding: 0 8px;
      font-size: .9em;
      line-height: 19px;
    }

    pre {
      display: block;
      width: 100%;
      background: #fff;

      code {
        background: none;
        display: block;
        border-radius: 0;
        padding: 10px 15px;
        box-shadow: inset 2px 0 #f00;
      }
    }

    & > blockquote:nth-child(1) + p:first-letter,
    & > p:nth-child(1):first-letter {
      font-size: 52px;
      font-weight: 700;
      display: block;
      float: left;
      line-height: 51px;
      margin-right: 6px;
      color: #f00;
    }

    blockquote {
      float: right;
      box-sizing: border-box;
      background: #756C66;
      width: 300px;
      padding: 20px;
      font-size: 13px;
      line-height: 17px;
      color: #FBF9F8;
      font-weight: 300;
      margin-right: -350px;
      font-style: italic;

      hr {
        display: block;
        border: none;
        height: 1px;
        background: #8C837F;
        margin: 12px 0;
      }

      code {
        padding: 0 3px;
        font-style: normal;
        line-height: inherit !important;
      }

      b, strong {
        font-style: normal;
      }

      a {
        color: #fdd;
        &:hover {
          color: #f00;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin: 0 0 12px 0;
        padding: 0 0 10px 0;
        box-shadow: 0 1px 0 #8C837F;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0 0 12px 0;
        padding: 0 0 10px 0;
        box-shadow: 0 1px 0 #8C837F;
        font-weight: 300;
        font-style: normal;
        font-family: inherit !important;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    iframe {
      width: 750px;
      height: 375px;
    }
  }
}
