/* Fira Sans */

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Book'),
    local('FiraSans-Book'),
    url('/fonts/firasansbook.woff2') format('woff2'),
    url('/fonts/firasansbook.woff') format('woff'),
    url('/fonts/firasansbook.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans'),
    local('FiraSans-Regular'),
    url('/fonts/firasans.woff2') format('woff2'),
    url('/fonts/firasans.woff') format('woff'),
    url('/fonts/firasans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Bold'),
    local('FiraSans-Bold'),
    url('/fonts/firasansbold.woff2') format('woff2'),
    url('/fonts/firasansbold.woff') format('woff'),
    url('/fonts/firasansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Italic'),
    local('FiraSans-Italic'),
    url('/fonts/firasansitalic.woff2') format('woff2'),
    url('/fonts/firasansitalic.woff') format('woff'),
    url('/fonts/firasansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Lora */

@font-face {
  font-family: 'Lora';
  src: 
    local('Lora'), 
    local('Lora-Regular'), 
    url('/fonts/lora.woff2') format('woff2'), 
    url('/fonts/lora.woff') format('woff'), 
    url('/fonts/lora.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: 
    local('Lora Bold'), 
    local('Lora-Bold'), 
    url('/fonts/lorabold.woff2') format('woff2'), 
    url('/fonts/lorabold.woff') format('woff'), 
    url('/fonts/lorabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Open Sans Condensed */

@font-face {
  font-family: 'Open Sans Condensed';
  src: 
    local('Open Sans Cond Light'), 
    local('OpenSans-CondensedLight'), 
    url('/fonts/opensanscondlight.woff2') format('woff2'), 
    url('/fonts/opensanscondlight.woff') format('woff'), 
    url('/fonts/opensanscondlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}