header {
  width: 100%;
  position: fixed;
  background: url(/img/header/header.png) center bottom repeat-x;
  top: -50px;
  z-index: 20;
  margin-top: 0;
  height: 43px;
  transition: top .3s ease;

  .content {
    width: $width;
    margin: 0 auto;
  }

  .home {
    display: block;
    text-decoration: none;
    width: 58px;
    height: 42px;
    float: left;
    margin: 0;
    transition: margin .3s ease, width .3s ease;
  }

  nav {
    float: left;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    color: #999;

    a {
      display: block;
      float: left;
      margin: 0 20px;
      text-decoration: none;
      color: #999;

      &:hover {
        color: #fff;
      }
    }
  }

  &.fixed {
    top: 0;
  }
}