header {
  width: 100%;
  position: absolute;
  height: 132px;
  background: url(/img/header/header.png) center top repeat-x;
  z-index: 20;
  contain: layout;
  margin-top: 43px;
  top: -43px;

  .content {
    width: $width;
    margin: 0 auto;
  }

  .home {
    display: block;
    text-decoration: none;
    width: 120px;
    height: 100px;
    float: left;
    margin: 0 0 0 20px;
    transition: margin .3s ease, width .3s ease;
  }

  nav {
    float: left;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    color: #999;

    a {
      display: block;
      float: left;
      margin: 0 15px;
      text-decoration: none;
      color: #999;

      &:hover {
        color: #fff;
      }
    }
  }

  &.fixed {
    top: 0;
    margin-top: 0;
    height: 43px;
    transition: top .3s ease;
    background-position: center bottom;
    position: fixed;

    .home {
      width: 58px;
      margin: 0;
      height: 42px;
    }

    nav {
      a {
        margin: 0 20px;
      }
    }
  }
}