.parallax {
  $height: 800px;
  width: 100%;
  height: $height;
  position: relative;
  overflow: hidden;
  background: #fff url(/img/parallax/triangles-white.png);


  .parallax-section {
    position: relative;
    width: $width;
    height: 400px;
    margin: 0 auto;
  }

  img {
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
  }

  h1 {
    display: block;
    background: #f00;
    padding: 0 5px;
    top: 0;
    left: 10px;
    margin: 370px 0 0 0;
    position: absolute;
    font-size: 53px;
    height: 53px;
    line-height: 63px;
    color: #fff;
    z-index: 3;
    font-weight: 300;
    font-family: "Fira Sans", Helvetica, Tahoma, sans-serif;
  }

  & + .section {
    &:after {
      content: '';
      width: 100%;
      background: url(/img/header/bottom.png) bottom center repeat-x;
      height: 40px;
      position: absolute;
      top: -40px;
      left: 0;
    }
  }
}