.parallax {
  width: 100%;
  height: 1200px;
  position: relative;
  overflow: hidden;
  background: #fff url(/img/parallax/triangles-white.png) fixed;
  opacity: 0;
  contain: layout;
  transition: opacity 1s ease, margin .35s ease;

  &.visible {
    opacity: 1;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .scroll-to {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
  }

  .description {
    height: 120px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -60px;

    h1, h2 {
      display: none;
    }
  }
}