.section {
  width: 100%;
  padding: 50px 0;
  z-index: 19;
  background: #f8f6fa;
  position: relative;

  .content {
    width: $width;
    margin: 0 auto;

    .header-highlight {
      font-size: 32px;
      display: inline-block;
      line-height: 30px;

      span {
        display: inline-block;
        color: #fff;
        background: #f00;
        padding: 0 8px 0 125px;
        position: relative;

        &:before {
          content: '';
          width: 2px;
          height: 28px;
          background: #fff;
          display: block;
          position: absolute;
          right: 1px;
          top: 1px;
          animation: dot 1s ease infinite;
        }
      }
    }
  }
}
