<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="{{ icon }}"></i>
            {{ title }}
        </h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="box-body chart-responsive">
        <div class="chart" id="revenue-chart" style="height: 300px;">

        </div>
    </div>

    {% verbatim %}
    <script src="/packages/sleepingowl/default/libs/raphael/js/raphael.js"></script>
    <script src="/packages/sleepingowl/default/libs/morris.js/js/morris.js"></script>
    <script>
        $(function () {
            new Morris.Area({
                element: 'revenue-chart',
                resize: true,
                data: {% endverbatim %} {{ data | json_encode() | default('[]') | raw }} {% verbatim %},
                xkey: 'x',
                ykeys: ['y'],
                labels: ['Item 1'],
                lineColors: ['#3c8dbc'],
                hideHover: 'auto'
            });
        });
    </script>
    {% endverbatim %}
</div>