<article class="billet billet-gradient" data-bind="inview: function(state, value) { showBillet(state, value); }">
    <div class="billet-content">
        <p>{{ article.content | raw }}</p>
    </div>
</article>