<article class="billet billet-3" data-id="billet">
    <div class="billet-content">
        <iframe
                src="https://www.youtube.com/embed/{{ article.video }}?color=white&enablejsapi=1&iv_load_policy=3&rel=0&showinfo=0"
                frameborder="0" allowfullscreen></iframe>

        <div class="billet-description">
            {{ article.content | raw }}

            <a href="https://www.youtube.com/watch?v={{ article.video }}" class="button">
                {{ article.button_description | default('В оригинале') }}
            </a>
        </div>
    </div>
</article>
