<!------ Rambler.Likes script start ------>
<div class="rambler-share"></div>

<script>
    (function () {
        var init = function () {
            RamblerShare.init('.rambler-share', {
                "style": {
                    "borderRadius": 1,
                    "counterSize": 15
                },
                "utm": "utm_source=social",
                "counters": true,
                "buttons": [
                    "vkontakte",
                    "facebook"
                ]
            });
        };

        var script = document.createElement('script');
        script.onload = init;
        script.async = true;
        script.src = 'https://developers.rambler.ru/likes/widget.js';

        document.head.appendChild(script);
    })();
</script>
<!------   Rambler.Likes script end  ------>