{% extends "layout/master.twig" %}

{% block content %}
    <section style="padding: 300px 0">
        <form action="{{ route('login.action') }}" method="POST" style="width: 300px; margin: 0 auto">
            {{ csrf_field() }}
            <div class="form-item">
                <input type="text" name="login" placeholder="Логин" />
            </div>

            <div class="form-item">
                <input type="password" name="password" placeholder="Пароль" />
            </div>

            <div class="form-item">
                <input type="submit" class="button" />
            </div>
        </form>
    </section>
{% endblock %}