{% extends "layout/master.twig" %}

{% block content %}
    <section class="section section-dark">
        <div class="content">

            <section class="billets-list">
                <article class="billet billet-gradient">
                    <div class="billet-content">
                        <p>
                            У каждого человека есть своя история. Это &mdash; моя.
                        </p>
                    </div>
                </article>

                {% include "partials/billets/video.twig" with {
                    'src': '08npAJCqecU',
                    'description': 'У меня было несколько часов после работы, а так же ящик ошибок, пинта чистого энтузиазма и безрезультатные усилия.
                    Не то что бы это был необходимый запас для написания композиции. Но если начал писать проект, становится трудно остановиться.'
                } %}

                <article class="billet">
                    <div class="billet-content">
                        <figure class="billet-image">
                            <img src="/img/uploads/2cca7c11a1515763825fac2bdf6f19c0.png" />
                        </figure>

                        <div class="billet-description">
                            <p>
                                Пытаемся осилить этого зверя.
                                Для самых маленьких с крепкой психикой.
                            </p>

                            <a href="http://www.youtube.com/playlist?list=PLDI5V3o4oKBV2l8DeIYVpke6Ygwgp7JIL"
                               target="_blank" class="button">Вычислить по IP</a>
                        </div>
                    </div>
                </article>

                <article class="billet billet-2">
                    <div class="billet-content">
                        <figure class="billet-image">
                            <img src="/img/uploads/2fbd5bc12bde0b71f2522810970282ce.png" />
                        </figure>

                        <div class="billet-description">
                            <p>
                                К вам подбегает очумевший учёный и кричит:
                                «Я всажу свой квантовый гармонизатор в вашу фотонно-резонаторную камеру!» Ваши действия?
                            </p>


                            <ul>
                                <li>Добавить кармы</li>
                                <li>Добавить ачивку</li>
                                <li>Сломаться</li>
                            </ul>


                            <a href="https://github.com/LaravelRUS/GitterBot" target="_blank"
                               class="button">Спасибо бот, что живой!</a>
                        </div>
                    </div>
                </article>

                <article class="billet">
                    <div class="billet-content">
                        <figure class="billet-image">
                            <img src="/img/uploads/3a1d490fa122ecc0d449f91e7907d02e.png" />
                        </figure>

                        <div class="billet-description">
                            <p>
                                Стильно, модно, молодёжно. Ну наверное. В любом случае можно
                                подписаться :3
                            </p>

                            <a href="http://new.vk.com/serafim_arts" target="_blank" class="button">Допустим</a>
                        </div>
                    </div>
                </article>


            </section>

        </div>
    </section>

    <section class="section">
        <div class="content about-me">

            <h2><span>Обо</span> мне</h2>

            <figure>
                <img src="/img/me/animation.gif" alt="Me =)" />
            </figure>

            <h3>Привет ребята!</h3>

            <p>
                Меня зовут Кирилл, мне 24 и я <s>алкоголик</s>, <s>тунеяндец</s>, программист.
                Ещё немного рисую и музыку сочиняю.
            </p>

            <p>
                Давным давно, когда небо было голубым, ещё голубее, нежели сейчас, трава зеленее и
                по Земле бродили динозавры... Нет, забудьте про динозавров. Ну, в общем, когда-то тогда
                я и начал свой длинный и тернистый путь в дебри познания высшей магии и волшебства программирования.

                Сейчас я уже постарел, поумнел, исходники аж сыпятся и стараюсь свободное время посвещать
                распространением крупиц познания среди стремящейся молодёжи.
            </p>

            <p>
                И так как каждый уважающий себя <s>лодырь</s> человек обязан иметь страничку в
                <a href="https://ru.wikipedia.org/wiki/Графон" target="_blank">ынтернетах</a>,
                то и я, не отставая от жизни, пригрел данный закаулок мировой сети.
            </p>

        </div>
    </section>
{% endblock %}