{% extends "layout/master.twig" %}

{% block header %}
    {% include "partials/parallax.twig" %}
{% endblock %}

{% block content %}
    <section class="section">

        <section class="billets-container" data-vm="Billets">
            <section class="billets-list" data-id="billets-list">

                {% for article in previews %}
                    {% if article.type == 'Text' or article.type == 'Html' %}
                        {% include "pages/index/text.twig" with { 'article': article } %}
                    {% elseif article.type == 'Plank' %}
                        {% include "pages/index/plank.twig" with { 'article': article } %}
                    {% elseif article.type == 'Video' %}
                        {% include "pages/index/video.twig" with { 'article': article } %}
                    {% endif %}
                {% endfor %}

            </section>

            <aside class="billets-nav" data-id="billets-nav">
                <h2>Последнее</h2>
                <nav>
                    {% for article in articles %}
                        <a href="{{ route('article', {'url': article.url}) }}">{{ article.title }}</a>
                    {% endfor %}
                </nav>
            </aside>

        </section>
    </section>


    <section class="section about-me">
        <div class="content">
            <h2 class="header-highlight"><span>Обо</span> мне</h2>

            <figure>
                <video autoplay="autoplay" loop="loop">
                    <source src="/img/me/me.webm" type='video/webm; codecs="vp8, vorbis"' />
                    <source src="/img/me/me.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                    <source src="/img/me/me.ogv" type='video/ogg; codecs="theora, vorbis"' />
                </video>
            </figure>

            <h3>Привет ребята!</h3>

            <p>
                Меня зовут Кирилл, мне 24 и я <s>алкоголик</s>, <s>тунеяндец</s>, программист.
            </p>

            <p>
                Давным давно, когда небо было голубым, трава зеленее и
                по Земле бродили динозавры... Нет, забудьте про динозавров. Ну, в общем, когда-то тогда
                я и начал свой длинный и тернистый путь в дебри познания высшей магии и волшебства программирования.

                Сейчас я уже постарел, поумнел и стараюсь свободное время посвещать
                распространением крупиц познания среди стремящейся молодёжи.
            </p>

            <p>
                И так как каждый уважающий себя <s>лодырь</s> человек обязан иметь страничку в
                <a href="https://ru.wikipedia.org/wiki/Графон" target="_blank">ынтернетах</a>,
                то и я, не отставая от жизни, пригрел данный закаулок мировой сети.
            </p>

        </div>
    </section>
{% endblock %}