{% extends "layout/master.twig" %}

{% block header %}
    {% include "partials/header.twig" %}
    {% include "partials/parallax.twig" %}
{% endblock %}

{% block content %}
    <section class="section section-dark">

        <section class="billets-container" data-vm="Billets">
            <section class="billets-list">
                <article class="billet billet-gradient" data-id="billet">
                    <div class="billet-content">
                        <p>
                            У каждого человека есть своя история. Это &mdash; моя.
                        </p>
                    </div>
                </article>

                {% for article in articles %}
                    {% if article.video %}
                        {% include "partials/billets/video.twig" with { 'article': article } %}
                    {% else %}
                        {% include "partials/billets/text.twig" with { 'article': article } %}
                    {% endif %}
                {% endfor %}
            </section>

            <aside class="billets-nav">
                <h2>Последнее</h2>
                <nav>
                    {% for article in articles %}
                        <a href="#">{{ article.title }}</a>
                    {% endfor %}
                </nav>
            </aside>

        </section>
    </section>


    <section class="section about-me">
        <div class="content">
            <h2><span>Обо</span> мне</h2>

            <figure>
                <img src="/img/me/animation.gif" alt="Me =)" />
            </figure>

            <h3>Привет ребята!</h3>

            <p>
                Меня зовут Кирилл, мне 24 и я <s>алкоголик</s>, <s>тунеяндец</s>, программист.
                Ещё немного рисую и музыку сочиняю.
            </p>

            <p>
                Давным давно, когда небо было голубым, ещё голубее, нежели сейчас, трава зеленее и
                по Земле бродили динозавры... Нет, забудьте про динозавров. Ну, в общем, когда-то тогда
                я и начал свой длинный и тернистый путь в дебри познания высшей магии и волшебства программирования.

                Сейчас я уже постарел, поумнел, исходники аж сыпятся и стараюсь свободное время посвещать
                распространением крупиц познания среди стремящейся молодёжи.
            </p>

            <p>
                И так как каждый уважающий себя <s>лодырь</s> человек обязан иметь страничку в
                <a href="https://ru.wikipedia.org/wiki/Графон" target="_blank">ынтернетах</a>,
                то и я, не отставая от жизни, пригрел данный закаулок мировой сети.
            </p>

        </div>
    </section>
{% endblock %}